@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="itera.png" alt="Itera Logo" width="700" height="350">
    <h1 class="display-4">Desafio c# - Luiz Guilherme</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Empresas</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Groups" asp-action="Index">Grupos</a>
</div>
